app/pkgs/Wadl/SearchClaims.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SearchClaims" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SearchClaims" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_number_Value_def" />
      <string name="ManualTriggerInput_contractnumber_Value_def" />
      <string name="ManualTriggerInput_contractholdername_Value_def" />
      <string name="ManualTriggerInput_contractholderid_Value_def" />
      <string name="ManualTriggerInput_contractbeneficiaryname_Value_def" />
      <string name="ManualTriggerInput_contractbeneficiaryid_Value_def" />
      <string name="ManualTriggerInput_contracttypename_Value_def" />
      <string name="ManualTriggerInput_contracttypedepartment_Value_def" />
      <string name="ManualTriggerInput_created_Value_def" />
      <object name="ManualTriggerInput">
        <property name="number_Value" type="string" />
        <property name="contractnumber_Value" type="string" />
        <property name="contractholdername_Value" type="string" />
        <property name="contractholderid_Value" type="string" />
        <property name="contractbeneficiaryname_Value" type="string" />
        <property name="contractbeneficiaryid_Value" type="string" />
        <property name="contracttypename_Value" type="string" />
        <property name="contracttypedepartment_Value" type="string" />
        <property name="created_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_created_def" />
      <string name="ResponseActionOutput_items_def_number_def" />
      <string name="ResponseActionOutput_items_def_contracts_def_href_def" />
      <object name="ResponseActionOutput_items_def_contracts_def">
        <property name="href" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_uuid_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="created" type="string" />
        <property name="number" type="string" />
        <property name="contracts" typeRef="ResponseActionOutput_items_def_contracts_def" />
        <property name="uuid" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="number_Value" path="/number_Value" type="xs:string" required="true" />
            <param style="plain" name="contractnumber_Value" path="/contractnumber_Value" type="xs:string" required="true" />
            <param style="plain" name="contractholdername_Value" path="/contractholdername_Value" type="xs:string" required="true" />
            <param style="plain" name="contractholderid_Value" path="/contractholderid_Value" type="xs:string" required="true" />
            <param style="plain" name="contractbeneficiaryname_Value" path="/contractbeneficiaryname_Value" type="xs:string" required="true" />
            <param style="plain" name="contractbeneficiaryid_Value" path="/contractbeneficiaryid_Value" type="xs:string" required="true" />
            <param style="plain" name="contracttypename_Value" path="/contracttypename_Value" type="xs:string" required="true" />
            <param style="plain" name="contracttypedepartment_Value" path="/contracttypedepartment_Value" type="xs:string" required="true" />
            <param style="plain" name="created_Value" path="/created_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>