app/pkgs/Wadl/SearchContract.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SearchContract" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SearchContract" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_number_Value_def" />
      <string name="ManualTriggerInput_holdername_Value_def" />
      <string name="ManualTriggerInput_holderid_Value_def" />
      <string name="ManualTriggerInput_beneficiaryname_Value_def" />
      <string name="ManualTriggerInput_beneificiaryid_Value_def" />
      <string name="ManualTriggerInput_typename_Value_def" />
      <string name="ManualTriggerInput_typedepartment_Value_def" />
      <object name="ManualTriggerInput">
        <property name="number_Value" type="string" />
        <property name="holdername_Value" type="string" />
        <property name="holderid_Value" type="string" />
        <property name="beneficiaryname_Value" type="string" />
        <property name="beneificiaryid_Value" type="string" />
        <property name="typename_Value" type="string" />
        <property name="typedepartment_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_type_def" />
      <string name="ResponseActionOutput_items_def_type_def" />
      <string name="ResponseActionOutput_items_def_properties_def_number_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_number_def">
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_properties_def_contentID_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_contentID_def">
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_properties_def_contentLength_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_contentLength_def">
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_properties_def_contentMimetype_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_contentMimetype_def">
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_properties_def_contentFilename_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_contentFilename_def">
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_properties_def_beneficiary_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_beneficiary_def">
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_properties_def_holder_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_holder_def">
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_properties_def_type_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_type_def">
        <property name="type" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_properties_def_uuid_def_type_def" />
      <object name="ResponseActionOutput_items_def_properties_def_uuid_def">
        <property name="type" type="string" />
      </object>
      <object name="ResponseActionOutput_items_def_properties_def">
        <property name="number" typeRef="ResponseActionOutput_items_def_properties_def_number_def" />
        <property name="contentID" typeRef="ResponseActionOutput_items_def_properties_def_contentID_def" />
        <property name="contentLength" typeRef="ResponseActionOutput_items_def_properties_def_contentLength_def" />
        <property name="contentMimetype" typeRef="ResponseActionOutput_items_def_properties_def_contentMimetype_def" />
        <property name="contentFilename" typeRef="ResponseActionOutput_items_def_properties_def_contentFilename_def" />
        <property name="beneficiary" typeRef="ResponseActionOutput_items_def_properties_def_beneficiary_def" />
        <property name="holder" typeRef="ResponseActionOutput_items_def_properties_def_holder_def" />
        <property name="type" typeRef="ResponseActionOutput_items_def_properties_def_type_def" />
        <property name="uuid" typeRef="ResponseActionOutput_items_def_properties_def_uuid_def" />
      </object>
      <string name="ResponseActionOutput_items_def_required_def_items_def" />
      <array type="string" name="ResponseActionOutput_items_def_required_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="type" type="string" />
        <property name="properties" typeRef="ResponseActionOutput_items_def_properties_def" />
        <property name="required" typeRef="ResponseActionOutput_items_def_required_def" />
      </object>
      <object name="ResponseActionOutput">
        <property name="type" type="string" />
        <property name="items" typeRef="ResponseActionOutput_items_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="number_Value" path="/number_Value" type="xs:string" required="true" />
            <param style="plain" name="holdername_Value" path="/holdername_Value" type="xs:string" required="true" />
            <param style="plain" name="holderid_Value" path="/holderid_Value" type="xs:string" required="true" />
            <param style="plain" name="beneficiaryname_Value" path="/beneficiaryname_Value" type="xs:string" required="true" />
            <param style="plain" name="beneificiaryid_Value" path="/beneificiaryid_Value" type="xs:string" required="true" />
            <param style="plain" name="typename_Value" path="/typename_Value" type="xs:string" required="true" />
            <param style="plain" name="typedepartment_Value" path="/typedepartment_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>