app/pkgs/Wadl/SearchContract.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SearchContract" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SearchContract" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_number_Value_def" />
      <string name="ManualTriggerInput_holdername_Value_def" />
      <string name="ManualTriggerInput_holderid_Value_def" />
      <string name="ManualTriggerInput_beneficiaryname_Value_def" />
      <string name="ManualTriggerInput_beneificiaryid_Value_def" />
      <string name="ManualTriggerInput_typename_Value_def" />
      <string name="ManualTriggerInput_typedepartment_Value_def" />
      <object name="ManualTriggerInput">
        <property name="number_Value" type="string" />
        <property name="holdername_Value" type="string" />
        <property name="holderid_Value" type="string" />
        <property name="beneficiaryname_Value" type="string" />
        <property name="beneificiaryid_Value" type="string" />
        <property name="typename_Value" type="string" />
        <property name="typedepartment_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="number_Value" path="/number_Value" type="xs:string" required="true" />
            <param style="plain" name="holdername_Value" path="/holdername_Value" type="xs:string" required="true" />
            <param style="plain" name="holderid_Value" path="/holderid_Value" type="xs:string" required="true" />
            <param style="plain" name="beneficiaryname_Value" path="/beneficiaryname_Value" type="xs:string" required="true" />
            <param style="plain" name="beneificiaryid_Value" path="/beneificiaryid_Value" type="xs:string" required="true" />
            <param style="plain" name="typename_Value" path="/typename_Value" type="xs:string" required="true" />
            <param style="plain" name="typedepartment_Value" path="/typedepartment_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>